{{ define "main" }}
  <h1>Blog</h1>
  {{ $dateFormat := default "2 January 2006" .Site.Params.BookDateFormat }}
  {{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}
  {{ range sort .Paginator.Pages }}

  <article class="markdown">
    <h2>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <h6>
      // {{ .Date.Format $dateFormat }}
    </h6>
    <p>
      {{- .Summary -}}
      {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">...</a>
      {{ end }}
    </p>
  </article>
  {{ end }}
  {{ template "_internal/pagination.html" . }}
{{ end }}
