/**
 * Block-style paragraph for tabs, with hover and colors.
 *
 * @atom Tabs
 * @section Typography
 * @markup
 *
 *
 * <div class="hg-tabs">
 *  <div class="hg-tab-2">
 *    <label for="hg-tab2-1">Mac OSX</label>
 *    <input id="hg-tab2-1" name="hg-tabs-two" type="radio" checked="checked">
 *    <div>
 *      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat id velit quis vestibulum.</p>
 *    </div>
 *  </div>
 * </div>
 *
 */

.hg-tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
}
.hg-tabs [class^="hg-tab"] label,
.hg-tabs [class*=" hg-tab"] label {
  color: $color-petrol;
  cursor: pointer;
  display: block;
  font-size: 1.25em;
  font-weight: 100;
  line-height: 1em;
  padding: 1.25rem 0;
  text-align: center;
}
.hg-tabs [class^="hg-tab"] [type="radio"],
.hg-tabs [class*=" hg-tab"] [type="radio"] {
  border-bottom: 1px solid $color-petrol;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hg-tabs [class^="hg-tab"] [type="radio"]:hover, .hg-tabs [class^="hg-tab"] [type="radio"]:focus,
.hg-tabs [class*=" hg-tab"] [type="radio"]:hover,
.hg-tabs [class*=" hg-tab"] [type="radio"]:focus {
  border-bottom: 2px solid $color-pink;
}
.hg-tabs [class^="hg-tab"] [type="radio"]:checked,
.hg-tabs [class*=" hg-tab"] [type="radio"]:checked {
  border-bottom: 3px solid $color-pink;
}
.hg-tabs [class^="hg-tab"] [type="radio"]:checked + div,
.hg-tabs [class*=" hg-tab"] [type="radio"]:checked + div {
  opacity: 1;
}
.hg-tabs [class^="hg-tab"] [type="radio"] + div,
.hg-tabs [class*=" hg-tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hg-tabs .hg-tab-2 {
  width: 50%;
}
.hg-tabs .hg-tab-2 [type="radio"] + div {
  width: 200%;
  margin-left: 200%;
}
.hg-tabs .hg-tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}
.hg-tabs .hg-tab-2:last-child [type="radio"] + div {
  margin-left: 100%;
}
.hg-tabs .hg-tab-2:last-child [type="radio"]:checked + div {
  margin-left: -100%;
}

.hg-tabs .hg-tab-3 {
  width: 33.333%;
}
.hg-tabs .hg-tab-3 [type="radio"] + div {
  width: 300%;
  margin-left: 300%;
}
.hg-tabs .hg-tab-3 [type="radio"]:checked + div {
  margin-left: 0;
}
.hg-tabs .hg-tab-3:nth-child(2) [type="radio"] + div {
  margin-left: 200%;
}
.hg-tabs .hg-tab-3:nth-child(2) [type="radio"]:checked + div {
  margin-left: -100%;
}
.hg-tabs .hg-tab-3:nth-child(3) [type="radio"] + div {
  margin-left: 100%;
}
.hg-tabs .hg-tab-3:nth-child(3) [type="radio"]:checked + div {
  margin-left: -200%;
}

.hg-tabs .hg-tab-4 {
  width: 25%;
}
.hg-tabs .hg-tab-4 [type="radio"] + div {
  width: 400%;
  margin-left: 400%;
}
.hg-tabs .hg-tab-4 [type="radio"]:checked + div {
  margin-left: 0;
}
.hg-tabs .hg-tab-4:nth-child(2) [type="radio"] + div {
  margin-left: 300%;
}
.hg-tabs .hg-tab-4:nth-child(2) [type="radio"]:checked + div {
  margin-left: -100%;
}
.hg-tabs .hg-tab-4:nth-child(3) [type="radio"] + div {
  margin-left: 200%;
}
.hg-tabs .hg-tab-4:nth-child(3) [type="radio"]:checked + div {
  margin-left: -200%;
}
.hg-tabs .hg-tab-4:nth-child(4) [type="radio"] + div {
  margin-left: 100%;
}
.hg-tabs .hg-tab-4:nth-child(4) [type="radio"]:checked + div {
  margin-left: -300%;
}