// Color accents
$color-accent:         #a0518e;
$color-pink:           #f15f79;
$color-hint:           #ffeb8d;

// Color palette
$color-red:            #cc0425;
$color-red-light:      #fedbe1;

$color-orange:         #ff6554;
$color-orange-light:   #ff6554;

$color-green:          #36ffce;

$color-petrol:         #5c8799;
$color-petrol-light:   #d6e1e6; 

$color-blue:           #1696cc;
$color-blue-light:     #e1f4fb;

$color-yellow:         #ffd713;
$color-yellow-light:   #fff8d9;

$dark-grey:            #343a40;