@import "variables";

$block-border-radius: 0.25rem;

.markdown {
  line-height: 1.7;

  > :first-child {
    margin-top: 0;
    line-height: 1em;
  }

  h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 0em;
  }

  h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 1.25em;
    margin-bottom: 0em;
  }

  h3 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 2em;
    margin-bottom: 0em;
  }

  h4 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 2.2em;
    margin-bottom: 0em;
  }

  h5 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 2.2em;
    margin-bottom: 0em;
  }

  h6 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 2.2em;
    margin-bottom: 0em;
  }

  b,
  optgroup,
  strong {
    font-weight: 700;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  code {
    font-family: "Oxygen Mono", monospace;
 
    background: $gray-100;
    border-radius: $block-border-radius;
  }

  pre {
    padding: $padding-16;
    background: $gray-100;
    border-radius: $block-border-radius;
    font-size: $font-size-14;
    overflow-x: auto;
  }

  blockquote {
    border-left: $padding-1 * 2 solid $gray-300;
    margin: 0;
    padding: $padding-1 $padding-16;

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    tr th {
      padding: $padding-8 $padding-16;
      line-height: 2;

      border-bottom: 1px solid #5c8799;

      color: #5c8799; 
      font-size: 1.25em;
      font-family: inherit;
      font-weight: 300;
    }

    tr td {
      padding: $padding-8 $padding-16;
      line-height: 2;

      border-bottom: 1px solid #d6e1e6;

      color: #343a40; 
      font-size: .9em;
      font-family: inherit;
      font-weight: 100;     
    }
  }
}
