<style>
	.hg-badge {
		border-radius: 5px;
		border-left: 3px solid #5c8799;
		color: #495057;
		width: 100%;
		position: relative;
		padding: 1.1em;
		margin-left: 0em;
		margin-top: 2rem;
		margin-bottom: 2rem;
		background: #d6e1e6;
	}
	.hg-badge p {
		font-size: 1em;
		font-weight: 100;
		display: block;
		line-height: 1.5em;
		margin-top: 0rem;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 0rem;
		padding: 0rem;
		position: relative;
	}
</style>

<div class="hg-badge">
	<p>{{ .Inner }}</p>
</div>
