<style>
	.hg-quote {
		color: #1696cc;
		width: 90%;
		padding: 0rem;
		margin-top: 2rem;
		margin-left: 2rem;
		position: relative;
	}
	.hg-quote::before {
		font-family: Georgia, serif;
		font-size: 14rem;
		color: #d6e1e6;
		content: "“";
		position: absolute;
		left: 0;
		top: -7rem;
		z-index: 0;
	}
	.hg-quote p {
		color: #1696cc;
		font-size: 1.4em;
		font-weight: 100;
		display: block;
		line-height: 1.2em;
		margin: 0.5rem;
		padding: 0rem;
		position: relative;
		z-index: 2;
	}

	.hg-quote cite {
		color: #5c8799;
		font-size: 1rem;
		display: block;
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 2;
		top: .5rem;
	}
	.hg-quote cite::before {
		content: "—";
		display: inline-block;
		height: 2rem;
		width: 2rem;
	}
</style>

<div class="hg-quote">
	<p>{{ .Inner }}</p>
	<cite>{{ .Get "author" }}</cite>
</div>
